html {
    height: 100%;
}

body {
    font-family: 'Inter';
    height: 100%;
}

h1 {
    font-weight: bold;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 2em;
}